* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.btn, .btn-secundario, .btn-primario {
  width: fit-content;
  background-color: white;
  border-radius: 8px;
  color: rgb(1, 43, 122);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.btn-primario {
  padding: 10px 20px;
  font-weight: 600;
}
.btn-primario:hover {
  background-color: rgb(40, 104, 69);
  color: white;
  padding: 20px 30px;
  border: 2px solid rgb(26, 46, 6);
}

.btn-secundario {
  padding: 8px 15px;
  font-weight: 500;
  border: 2px solid rgb(26, 46, 6);
}
.btn-secundario:hover {
  background-color: rgb(1, 43, 122);
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  background: rgb(225, 232, 106);
  background: radial-gradient(circle, rgba(225, 232, 106, 0.8) 0%, rgba(181, 187, 58, 0.8) 75%, rgba(0, 212, 255, 0.8) 100%);
  top: 0;
  z-index: 999999;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .list-item {
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: black;
  padding: 20px;
  padding-right: 40px;
  font-size: 30px;
}
header .logo {
  padding-left: 30px;
}
header .logo:hover {
  transform: rotate(360deg);
  transition: all 1s ease;
}

@media (max-width: 480px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    max-width: 100%;
    position: sticky;
  }
  header ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  header .list-item {
    list-style-type: none;
    text-decoration: none;
    font-size: 10px;
    padding: 5px;
    padding-right: 40px;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: lightcoral;
  height: fit-content;
}
footer li {
  list-style-type: none;
  text-decoration: none;
  font-weight: 400;
  color: black;
  padding-right: 40px;
}
footer img {
  width: 30px;
  cursor: pointer;
}
footer .seccion-redes {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  text-align: center;
}

/*MEDIDA QUERY MOBILE */
/*480PX <Pantalla> 0px*/
@media (max-width: 480px) {
  footer {
    padding: 20px 20px;
    background-color: lightcoral;
    height: fit-content;
  }
  footer li {
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding-right: 40px;
  }
}
#hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  background-image: url("../imagenes/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .text-main {
  width: 20%;
  padding: 20px;
}
#hero h1 {
  font-size: 80px;
  font-weight: 600px;
  margin-bottom: 32px;
  color: white;
}
#hero p {
  color: white;
  font-size: 24;
  margin-bottom: 32px;
}
#hero .imagen-main {
  display: flex;
  justify-content: right;
}
#hero .imagen-main img {
  right: 0;
  height: auto;
}

/*SECCION PARA ADOPCION*/
#seccion-adoptame {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  background-color: lightgreen;
  justify-content: space-between;
  font-size: 15px;
}
#seccion-adoptame .pet-adopt {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 25%;
  border: 2px solid black;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
}
#seccion-adoptame .img-adopt {
  display: flex;
  border-radius: 20px;
  width: 80%;
  height: 70%;
  transition: all 0.2s ease;
}
#seccion-adoptame .img-adopt:hover {
  width: 90%;
  height: 80%;
  transform: rotateY(360deg);
  transition: all 1s ease;
}

/*MEDIDA QUERY MOBILE */
/*480PX <Pantalla> 0px*/
@media (max-width: 480px) {
  #hero {
    height: fit-content;
    background-image: url("../imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
  }
  #hero .text-main {
    width: 80%;
    padding: 0px;
  }
  #hero h1 {
    font-size: 50px;
    font-weight: 600px;
    margin-bottom: 32px;
    color: white;
  }
  #hero p {
    color: white;
    font-size: 24;
    margin-bottom: 15px;
  }
  #hero .boton {
    width: fit-content;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    color: cornflowerblue;
    font-weight: 500;
    text-decoration: none;
  }
  #hero .imagen-main {
    display: flex;
    justify-content: right;
  }
  #hero .imagen-main img {
    right: 0;
    height: auto;
  }
  #seccion-adoptame {
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: lightgreen;
    justify-content: space-between;
    font-size: 15px;
  }
  #seccion-adoptame .pet-adopt {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 80%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  #seccion-adoptame .img-adopt {
    border-radius: 20px;
    width: 80%;
    height: 70%;
  }
}
#hero-cita {
  height: fit-content;
  background-image: url("../imagenes/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*MEDIDA QUERY MOBILE */
  /*480PX <Pantalla> 0px*/
}
#hero-cita .text-cita {
  font-size: 80px;
  margin-top: 300px;
  margin-bottom: 50px;
  color: white;
}
#hero-cita p {
  font-size: 60px;
  margin-bottom: 32px;
  color: white;
}
#hero-cita .seccion-centrada {
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 60%;
  background-color: white;
  border-radius: 30px;
}
#hero-cita .input-formulario {
  width: 80%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#hero-cita .input-formularioinput.last-of-type {
  height: 50%;
}
#hero-cita .galery {
  display: flex;
  width: 90%;
  height: 300px;
  margin-bottom: 20px;
}
#hero-cita .galery img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  filter: brightness(80%);
  transition: 1s ease;
}
#hero-cita .galery img:hover {
  width: 500px;
  opacity: 1;
  filter: brightness(130%);
  transition: 0.5s ease;
  cursor: pointer;
}
@media (max-width: 480px) {
  #hero-cita {
    height: 800px;
    padding: 20px;
  }
  #hero-cita .text-cita {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
  }
  #hero-cita p {
    font-size: 30px;
    margin-bottom: 32px;
    color: white;
    text-align: center;
  }
  #hero-cita .seccion-centrada {
    width: 90%;
  }
}

#hero-nosotros {
  height: 90%;
  background-image: url("../imagenes/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: white;
  /*MEDIDA QUERY MOBILE */
  /*480PX <Pantalla> 0px*/
}
#hero-nosotros #banner {
  width: 100%;
  height: 100px;
  padding-bottom: 300px;
}
#hero-nosotros .text-cita {
  font-size: 80px;
  margin-top: 200px;
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
#hero-nosotros table {
  margin: 5px;
  color: white;
  padding: 10px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
#hero-nosotros table td {
  width: 50%;
  padding: 5px;
}
#hero-nosotros table td img {
  width: 80%;
  height: 300px;
}
@media (max-width: 480px) {
  #hero-nosotros {
    height: fit-content;
    padding: 10px;
    color: white;
  }
  #hero-nosotros #banner {
    width: 100%;
    height: 150px;
    margin: 50px;
    padding: unset;
  }
  #hero-nosotros #banner img {
    height: auto;
  }
  #hero-nosotros .text-cita {
    font-size: 80px;
    margin-bottom: 32px;
    color: white;
  }
  #hero-nosotros table {
    margin: 5px;
    padding: 5px;
  }
  #hero-nosotros table td {
    width: 50%;
  }
  #hero-nosotros table td img {
    width: 95%;
    height: unset;
  }
}

#hero-registro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  background-image: url("../imagenes/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*MEDIDA QUERY MOBILE */
  /*480PX <Pantalla> 0px*/
}
#hero-registro .text-cita {
  font-size: 80px;
  margin-top: 100px;
  margin-bottom: 32px;
  color: white;
}
#hero-registro p {
  font-size: 60px;
  margin-bottom: 32px;
  color: white;
}
#hero-registro .seccion-centrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 60%;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 50px;
}
#hero-registro .seccion-centrada .input-formulario {
  border: none;
  border-bottom: 2px solid rgb(30, 102, 184);
  width: 70%;
  padding: 10px;
  margin: 10px;
  outline: none;
}
#hero-registro .animacion {
  height: 180px;
  width: 90%;
  background-image: url("../../imagenes/animacion/bk-ani.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
#hero-registro .animacion:hover {
  transform: rotateY(180deg);
}
#hero-registro .animacion img {
  height: 120px;
  position: absolute;
  animation: moverImagen 2s linear infinite;
}
@keyframes moverImagen {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@media (max-width: 480px) {
  #hero-registro {
    height: 800px;
    padding: 20px;
  }
  #hero-registro .text-cita {
    margin-top: 100px;
    margin-bottom: unset;
    font-size: 40px;
  }
  #hero-registro p {
    font-size: 30px;
    margin-bottom: 5px;
    color: white;
  }
  #hero-registro .seccion-centrada {
    width: 90%;
  }
}

#hero-contacto {
  height: fit-content;
  background-image: url("../imagenes/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*MEDIDA QUERY MOBILE */
  /*480PX <Pantalla> 0px*/
}
#hero-contacto .text-cita {
  font-size: 80px;
  margin-top: 300px;
  margin-bottom: 50px;
  color: white;
}
#hero-contacto p {
  font-size: 60px;
  margin-bottom: 32px;
  color: white;
}
#hero-contacto .paises {
  width: 90%;
  height: 150px;
  background-image: url("../../imagenes/ubi/bk-ubi-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}
#hero-contacto .paises:hover {
  background-image: url("../../imagenes/ubi/bk-ubi-2.jpg");
  transition: all 2 ease;
}
#hero-contacto .paises img {
  width: 110px;
  height: 110px;
  filter: drop-shadow(20px 20px 13px rgb(0, 0, 0));
  transition: all 0.3s ease;
}
#hero-contacto .paises img:hover {
  cursor: pointer;
  width: 150px;
  height: 150px;
  transition: all 0.8 ease;
}
#hero-contacto .seccion-centrada {
  width: 60%;
  height: 300px;
  margin-bottom: 60px;
}
#hero-contacto .seccion-centrada iframe {
  border-radius: 15px;
}
@media (max-width: 480px) {
  #hero-contacto {
    height: 800px;
    padding: 20px;
  }
  #hero-contacto .text-cita {
    font-size: 40px;
    margin-top: 100px;
  }
  #hero-contacto p {
    font-size: 30px;
    margin-bottom: 32px;
    color: white;
  }
  #hero-contacto .paises img {
    width: 50px;
    height: 50px;
    box-shadow: 13px 14px 18px 5px rgba(0, 0, 0, 0.73);
  }
  #hero-contacto .paises img:hover {
    cursor: pointer;
    width: 70px;
    height: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
