@mixin flexbox($direc, $jc, $ai){
    display: flex;
    flex-direction: $direc;
    justify-content: $jc;
    align-items: $ai;
}

@mixin media-query-mobile{
    @media (max-width: 480px){
        @content;
    }    
}